.title {
  font-size: 2rem;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  padding: 20px;
  background-color: gainsboro;
  border-radius: 10px;
  margin-bottom: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1rem;
  padding: 10px;
}

.submit {
  font-size: 1.1rem;
  padding: 10px 0 10px 0;
  cursor: pointer;
  background-color: #0373c7;
  color: white;
  border: none;
  border-radius: 5px;
}

.inputError {
  color: red;
}
